<div class="container-fluid pageLayout pb80">
  <div class="pageVerBorder">
    <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
  </div>
  <div class="container">
    <div class="col-md-12 pt30">
      <div class="job-title jobborderbtm">
        <h1>Sales Executive</h1>
        <ul>
          <li>
            <i class="fa-regular fa-clock"></i>Full-Time
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i>Nagpur
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-545" class="post-545 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary:</strong>
                  </h2>
                  <p>We are looking for a results-driven Sales Executive to join our team. The Sales Executive will be responsible for generating leads, closing sales, and ensuring customer satisfaction. The ideal candidate will have strong communication skills and the ability to build relationships with potential clients.</p>
                  <h2>Eligility:</h2>
                  <ul>
                    <li>Bachelor’s degree in any stream (Business, Marketing, or a related field is preferred).</li>
                    <li>Strong communication, negotiation, and interpersonal skills.</li>
                    <li>Ability to work both independently and collaboratively in a team.</li>
                    <li>Results-oriented with a track record of meeting or exceeding sales targets.</li>
                  </ul>
                  <h2>
                    <strong>Key Responsibilities</strong>
                  </h2>
                  <ul>
                    <li>Identify potential clients and industries that align with our products.</li>
                    <li>Contribute to lead generation efforts through online research, networking, events, conference.</li>
                    <li>Understand customer requirements.</li>
                    <li>Present them the product effectively.</li>
                    <li>Ability to explain complex information clearly and simply.</li>
                    <li>Good sales and negotiation skills.</li>
                    <li>Build and maintain strong relationships with customers.</li>
                    <li>Conduct product presentations and demonstrate services to potential clients.</li>
                    <li>Maintain accurate records of all sales activities and customer interactions.</li>
                  </ul>
                  
                  <h2>
                    <strong>Expectations:</strong>
                  </h2>
                  <ul>
                      <li>Experience in sales domain is preferred.</li>
                      <li>Maintain a positive attitude focused on customer satisfaction.</li>
                      <li>Problem-solving attitude.</li>
                      <li>Excellent communication skills.</li>
                      <li>Teamwork and leadership skills.</li>
                      <li>Customer-oriented mindset.</li>
                  </ul>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
           <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
          <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>