<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
       <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container" id="pagesetting">
        <div class="col-sm-12">
          <div class="setVideos2">
            <h2>Video Tutorial On Multiple Ways To Share Your PCARDS Profile Effectively</h2> 
            <p>Welcome to our comprehensive tutorial series !! we'll guide you through each step of the process, ensuring you can easily share your PCARDS profile with others. our step-by-step tutorials cover everything you need to know.</p>
          </div>    
          
          <div class="row ">
              
            <div class="col-lg-4 col-md-6  ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe  allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/gwjD1F8BqvY?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>1.	How To Use NFC Cards On Android Mobile and share profile:</strong><span>Learn the simple steps to utilize NFC cards on your Android device for seamless sharing of your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/I8_ZykZnxX0?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>2.	Steps To Scan QR Code On iPhone iOS and share Your profile:</strong><span>Discover how to scan QR codes on your iPhone iOS device and effortlessly share your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/qBppJccixto?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>3.	Steps to scan QR code on Android Phones and share profile:</strong><span>Follow easy instructions to scan QR codes on your Android device, enabling you to share your PCARDS profile with ease.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/uYMFePsnU8I?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>4. Share Your PCARDS Link Through PCARDS Application:</strong><span>Find out how to share your PCARDS profile link through application, making it convenient for others to access your digital profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/SfymXz7MvL8?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>5.	Steps to share profile link in WhatsApp Status : </strong><span>Learn the steps to share your PCARDS profile link in your WhatsApp status, allowing your contacts to view your profile easily.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/-EPtc5Bjp0U?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>6.	Share Your Profile link On WhatsApp By Share Button :</strong><span>Discover how to share your PCARDS profile link on WhatsApp using the share button feature, making sharing quick and convenient.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/55B_xJJo2II?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>7.	Steps To Share Your Profile Link in WhatsApp Auto Greeting Message:</strong><span>Explore the steps to incorporate your PCARDS profile link into your WhatsApp auto-greeting message, ensuring that anyone who contacts you receives your profile link automatically.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/NOuU__RxoBg?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight2">
                  <h3 class="news-title main-title-three">
                    <p><strong>8.	Steps To Copy The Profile Link From PCARDS Mobile Application :</strong><span>Learn how to copy the profile link from the PCARDS mobile application and share it with others, enabling you to easily distribute your digital profile to your contacts.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            
            
            
            
          </div>
        </div>
      </div>
    </div>