<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h1>Video Editor</h1>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-545" class="post-545 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary:</strong>
                  </h2>
                  <p>We are currently seeking a talented and creative Video Editor to join our team. If you have a passion for storytelling, a keen eye for detail, and expertise in video editing, we invite you to be a part of our innovative and collaborative environment.</p>
                  <h2>Qualifications:</h2>
                  <ul>
                    <li>Proficient in Video Production and Video Editing</li>
                    <li>Excellent skills in Video Color Grading and Motion Graphics</li>
                    <li>Ability to create engaging Graphics that enhance video storytelling</li>
                    <li>Experience in using Adobe Premiere Pro, After Effects, and Photoshop</li>
                    <li>Experience working in a fast-paced environment with tight deadlines</li>
                    <li>Ability to work collaboratively with cross-functional teams</li>
                  </ul>
                  <h2>
                    <strong>Responsibilities</strong>
                  </h2>
                  <p>
                    <strong>Editing:</strong>
                  </p>
                  <ul>
                    <li>Edit video content for various platforms, ensuring a polished and engaging final product.</li>
                    <li>Cut, trim, and assemble raw footage to create seamless and visually appealing videos.</li>
                  </ul>
                  <p>
                    <strong>Collaboration:</strong>
                  </p>
                  <ul>
                    <li>Work closely with content creators, scriptwriters, and marketing teams to understand project goals.</li>
                    <li>Translate creative briefs into visually captivating and effective video content.</li>
                  </ul>
                  <p>
                    <strong>Quality Control:</strong>
                  </p>
                  <ul>
                    <li>Review final edits to ensure they meet high standards and align with the project’s vision.</li>
                  </ul>
                  <p>
                    <strong>Innovation:</strong>
                  </p>
                  <ul>
                    <li>Stay updated on industry trends and incorporate innovative editing techniques.</li>
                    <li>Contribute creative ideas to enhance overall video production.</li>
                  </ul>
                  <h2>
                    <strong>Expectations:</strong>
                  </h2>
                  <p>Immediate Joiner</p>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
          <!-- <app-application-form></app-application-form> -->
            <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>