<section class="faq-section py-5" id="faq-page">
  <div class="container">
    <!-- Heading -->
    <h1 class="text-center mb-5">
      <span class="text-white">Frequently asked</span>
      <span class="text-warning"> questions</span>
    </h1>

    <!-- Accordion -->
    <div class="accordion" id="faqAccordion">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <i class="me-2 toggle-icon"></i> What is PCARDS?
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            PCARDS Business Network is a power community of business owners & individuals who works with the vision
            to inspire & mission to empower the community & society.
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <i class="me-2 toggle-icon"></i>  Why it is called Power Card? 
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          PCARDS is called the Power Card because it empowers you with the 3 in 1 power solution for your business &amp; personal growth and opens the opportunity of the world. 
          </div>
        </div>
      </div>

      <!-- item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <i class="me-2 toggle-icon"></i> Why should I choose pcard?
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            PCARDS isn't just a card, it's a community of students, professionals, and business owners entrepreneurs,
            and visionaries . If you become a member of the PCARDS community, you'll enjoy various benefits.
            Additionally with PCARDS, you can achieve multi times growth in your business. This platform helps you
            expand your network and enhance engagement with your clients.
          </div>
        </div>
      </div>

      <!-- item 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <i class="me-2 toggle-icon"></i> How can I share my pcard profile to other?
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            It is super easy ! you will get a personalised link which you can share through various ways like tap &
            share via NFC smart card, QR code, social media & any messaging app.
          </div>
        </div>
      </div>

      <!-- item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <i class="me-2 toggle-icon"></i> Is it necesscery for my client to have the pcard application on their
            phone to receive my information?
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            No, absolutely Not! We understand the importance of time & privacy. You just need to share link which can be
            seen over any browse available in their phone or laptop.
          </div>
        </div>
      </div>

      <!-- item 6 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <i class="me-2 toggle-icon"></i> How can I update my information?
            phone to receive my information?
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            PCARDS offers a user friendly mobile application & also a web interface, by accessing any of the two you can
            very easily update your information.
          </div>
        </div>
      </div>

      <!-- item 7 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            <i class="me-2 toggle-icon"></i> Dose the pcard appluication work on andriod and ios phones?
            phone to receive my information?
          </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, PCARDS application is available on Google Play Store & Apple App Store.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            <i class="me-2 toggle-icon"></i> What kind of information I can add on my pcard profile?
            phone to receive my information?
          </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            You can add your contact details, business information like about business, product & service catalogue,
            payment details, photo & video gallery etc., personal information like your education , past experiences,
            skills, your social media handles etc. and a lot more.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
            <i class="me-2 toggle-icon"></i>  What is a mini website, and how can I use it? 
          </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          On PCARDS, the mini website is like a small online space for your business. It's where you can put all the important stuff about your business, like company details, products, photos, and videos. You can even show off your specialties, education, and skills. It's a neat way to give people a quick and full picture of what you're all about!
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
            <i class="me-2 toggle-icon"></i>  How mini website is different from regular website? 
          </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
           Regular websites are designed for in-depth information, featuring various sections, pages, and complex structures. On the other hand, Mini Websites are streamlined and focused, presenting key information on a single page.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
            <i class="me-2 toggle-icon"></i>  Can I receive inquiries from clients using PCARDS? 
          </button>
        </h2>
        <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
         Yes, definitely! you can receive inquiries from clients using PCARDS
          </div>
        </div>
      </div>



      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
            <i class="me-2 toggle-icon"></i> Can I add company profile, catalogue, PDFs, website link, other social links on PCARDS? 
          </button>
        </h2>
        <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
           Of course Yes! You can add all your company profile, catalogue, website links, PDF files, and even your WhatsApp Business on PCARDS.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
            <i class="me-2 toggle-icon"></i> Can I add more than one business /branches on PCARDS? 
          </button>
        </h2>
        <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          Yes! You can show all your different businesses/branches in one place on PCARDS.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
            <i class="me-2 toggle-icon"></i>  Where can I get a social media post, and how can I customize It?  
          </button>
        </h2>
        <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          You will get the social media posts with your custom branding in the PCARDS mobile application only. Open the PCARDS app go to "My Design," section > Setting > Upload logo and basic business details > Save . Now go to any design category you want and your design is ready. Save & Share via any messaging or social app in your phone.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
            <i class="me-2 toggle-icon"></i>  Does it required technical knowledge & lot of time to customize the post? 
          </button>
        </h2>
        <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
          No, it's super easy! Just pick a post you like, and Customize it the way you want. It only takes a few seconds.
          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
            <i class="me-2 toggle-icon"></i>  How do I set up my profile on PCARDS? 
          </button>
        </h2>
        <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body">
        
        <p>Follows the following step to setup your profile: </p>
        <ul>
            <li> Go to www.pcards.org and sign up by filling out the registration form.</li>
            <li> Check your email for the ID and password sent by PCARDS after registration.</li>
            <li> Download the mobile application.</li>
            <li> Sign in using the credentials from the email/text.</li>
            <li> Go to 'Edit Card' to customize your profile. </li>
        </ul>
            
          </div>
        </div>
      </div>


    </div>




  



  </div>
</section>

<div class="whatsapp-div">
	<!-- <a href="https://wa.me/+919158883141"  rel="noopener noreferrer" target="_blank"><img alt="pcards Images" src="/assets/website-images/whatsapp-call.png"></a> -->
 <button
  type="button"
  
  aria-label="Contact PCARDS on WhatsApp"
  (click)="openWhatsApp()"
>
  <img
    src="/assets/website-images/whatsapp-call.png"
    alt="pcards Images"
  >
</button>
</div>