


<section id="how-it-works-page">

<div class="container-fluid pageLayout">
      <div class="pageVerBorder">
           <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h1>How It Works</h1>
          </div>
        </div>
      </div>
      <div class="row setVideoTutorial">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-lg-4 ">
            <a (click)="goToEditProfileTutorial()" class="setVideoBox">
                <i class="fa-brands fa-youtube"></i>
                <h2>STEP BY STEP GUIDE TO UPDATE YOUR PCARDS PROFILE</h2>
            </a>
        </div>
        <div class="col-lg-4 ">
            <a (click)="goToShareMultiplePCardProfileTutorial()" class="setVideoBox">
                <i class="fa-brands fa-youtube" ></i>
                <h2>MULTIPLE WAYS TO SHARE YOUR PCARDS PROFILE EFFECTIVELY</h2>
            </a>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

  

</div>
</section>