
#how-it-works-page
{
  padding: 0 65px 50px; 
      background: #050E1D;


      .page-title h1
      {
            margin: 45px 0px 30px 0px;
      }
.how-it-works {
  background-color: #050b18;
  text-align: center;
  padding: 40px 20px;
  color: white;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
  .setVideoTutorial
{
  a 
  {
    cursor: pointer;
        padding: 30px 15px;
  }
  i 
  {
    color: #ed0202;
  }
}

.section-line {
  height: 2px;
  background: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff
  );
  margin-bottom: 15px;
  border-radius: 2px;
}

.how-it-works h4 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.video-container{
    padding: 0px 50px;
}
.video-card {
  background-color: transparent; /* No solid background */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* outer glow */
  padding: 12px;
}

.video-thumbnail {
  background-color: white;
  border-radius: 6px;
}

.video-thumbnail img {
  width: 28%;
  height: auto;
}

.video-card p {
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 12px 8px 0;
  text-align: center;
}
}


    @media only screen and (max-width: 991px) {
#how-it-works-page
{
  .setVideoTutorial {
    row-gap: 20px;
    padding: 0 0 50px ;
}



}
    }


  //   @media only screen and (max-width: 480px) {
  //  #how-it-works-page .page-title h1 {
  //       font-size: 16px;
  //       margin: 29px 0 0;
  //       line-height: normal;
  //   }
  // }


//   @media only screen and (max-width: 600px) {
//     #how-it-works-page .page-title h1 {
//         font-size: 18px;
//         margin: 30px 0 10px;
//         line-height: normal;
//     }
// }
  @media only screen and (max-width: 768px) {

  #how-it-works-page
{
      padding: 0;


      .setVideoTutorial 
      {
                padding: 20px 30px 30px;
      }
}



}


@media only screen and (max-width: 480px) {
   #how-it-works-page 
   {
    .page-title h1 {
        font-size: 16px;
        margin: 10px 0;
    }

    .setVideoTutorial a {
        padding: 20px 10px !important;
    }
  }
  }