<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h1>Business Development Intern</h1>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-543" class="post-543 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary</strong>
                  </h2>
                  <p>Are you passionate about building relationships, exploring new opportunities, and driving business growth? We are seeking a dynamic Business Development Executive to join our team. This internship will provide exposure to various aspects of business development, sales, and client engagement. If you’re eager to learn, passionate about building connections, and ready to contribute to a dynamic team, this internship is for you.</p>
                  <h2>
                    <strong>Eligibility:</strong>
                  </h2>
                  <ul>
                    <li>Current pursuing degree in any stream.</li>
                    <li>Strong communication and interpersonal skills.</li>
                    <li>Eagerness to learn about business development and sales processes.</li>
                    <li>Ability to work well independently and in a team environment.</li>
                  </ul>
                  <h2>
                    <strong>Key Responsibilities:</strong>
                  </h2>
                  <p>
                    <strong>Prospecting and Lead Generation:</strong>
                  </p>
                  <ul>
                    <li>Assist in identifying potential clients and industries through market research.</li>
                    <li>Contribute to lead generation efforts using various channels and tools.</li>
                  </ul>
                  <p>
                    <strong>Client Engagement Support:</strong>
                  </p>
                  <ul>
                    <li>Collaborate with the team to build and maintain relationships with clients.</li>
                  </ul>
                  <p>
                    <strong>Sales and Revenue Growth Assistance</strong>:
                  </p>
                  <ul>
                    <li>Learn about the development and implementation of effective sales strategies.</li>
                    <li>Participate in negotiations and understand contract terms aligned with client needs.</li>
                  </ul>
                  <p>
                    <strong>Product Knowledge Development:</strong>
                  </p>
                  <ul>
                    <li>Acquire knowledge about the features and benefits of our products or services.</li>
                    <li>Contribute to communicating the value proposition of our offerings to potential clients.</li>
                  </ul>
                  <p>
                    <strong>Internship Project</strong>:
                  </p>
                  <ul>
                    <li>Undertake a specific project related to business development under the guidance of the team.</li>
                    <li>Present findings and recommendations to contribute to departmental goals.</li>
                  </ul>
                  <p>
                    <strong>Team Collaboration:</strong>
                  </p>
                  <ul>
                    <li>Collaborate with team members to ensure the successful on boarding of new clients.</li>
                    <li>Learn to address client concerns or issues during the on boarding phase</li>
                  </ul>
                  <h2>
                    <strong>Expectations</strong>
                  </h2>
                  <ul>
                    <li>Maintain a positive attitude.</li>
                    <li>Problem-solving attitude.</li>
                    <li>Excellent communication skills.</li>
                    <li>Teamwork and leadership skills.</li>
                  </ul>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
          <!-- <app-application-form></app-application-form> -->
             <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>