<div class="website_main" id="digital-card-page">


  <section class="section-padding" id="postId1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 desktopDisplay">
          <div class="postidimg text-center">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-1.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="apparel-content">
            <h1>YOUR GATEWAY TO MODERN NETWORKING : DIGITAL BUSINESS CARD</h1>
            <p class="text_dark">Create your digital business card within minutes with impressive content and designs.
              Connect wherever
              you go, Your PCARDS digital business card can be easily shared with anyone you meet anywhere &amp;
              anytime. With our digital business card, share your contact information effortlessly with actionable
              one-click features such as Call, Email, WhatsApp, and Map directions, alongside integrated bank and
              business details. Don't let valuable connections slip away because your network is your net worth!</p>
            <div class="apparel-expert-btn">
              <a [href]="globalObject.urlNew + '/login'" ><i class="fa fa-arrow-right"></i>START NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-bg overflow-hidden">
      <img alt="pcards Images" src="/assets/website-images/Digita-card/hero-shape.svg">
    </div>
  </section>
  <section class="section-padding" id="whatWe">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 float-none">
          <div class="section-title">
            <h2 class="text-center">What Features Do We Offer?</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="what-we-offer-text">
            <h4>Create a unique identity with PCARDS to strengthen your network.</h4>
            <ul>
              <li><i class="fa fa-check"></i>Unlimited sharing options</li>
              <li><i class="fa fa-check"></i>Customizable profile features</li>
              <li><i class="fa fa-check"></i>Quick add to contacts</li>
              <li><i class="fa fa-check"></i>Quick call &amp; WhatsApp</li>
              <li><i class="fa fa-check"></i>Easy linking to social media profiles</li>
              <li><i class="fa fa-check"></i>Multiple templates option</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="what-we-offer-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-2.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="" id="beneficial">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="benificial-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-3.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="benificial-text">
            <h2>Share Your Digital Business Card Unlimited Times!!</h2>
            <p>We help you to share your Digital Business Card as many times as you want, whenever you need, with anyone
              you like, using any social media platform or messaging app you prefer. Make your offer Networking more
              exciting with PCARDS.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb50 " id="branding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="branding-text">
            <h2 class="text_dark">Customize Your Digital Business Card with Ease!!</h2>
            <p>We offer fully customization option, Make your Digital Business Card truly yours with PCARDS Customizable
              Profile feature! You can change everything from your name and job title to your company logo and contact
              details to suit your style. Also you can add about your business , education, skill, experiences , photos
              ,and many more.</p>
            <div class="view-all-btn3">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>GET NOW</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="branding-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-4.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="" id="whatsapp-sticker">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="whatsapp-sticker-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-5.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="whatsapp-sticker-text">
            <h2 class="text_dark">Quick &amp; Easy Interaction On Your Digital Card!!</h2>
            <p class="text_dark">We offer a convenient way to connect with our Quick Save contact, Call, WhatsApp,
              email, and navigation features. On your Digital Business Card, we've integrated buttons for quick saving
              calling, messaging, WhatsApp, and navigation. Recipients can easily reach out to you with just one tap.
            </p>
            <div class="apparel-expert-btn">
              <a [href]="globalObject.urlNew + '/login'" ><i class="fa fa-arrow-right"></i>START NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="" id="industry-special">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="industry-special-text">
            <h2 class="text_dark">How It Is Beneficial For You?</h2>
            <p>We help you to create stylish and professional digital business cards with ease, promoting your identity
              with a unique look. We provide you multiple customizable &amp; sharing options, including various
              templates.</p>
            <div class="view-all-btn3">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>START NOW</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="industry-special-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-6.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-grey section-passing" id="industry-logo">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="industry-logo-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-7.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="industry-logo-text">
            <h2 class="text_yellow">Don't Wait, Network Now! Easily Link All Your Social Media on Your Card!!</h2>
            <p class="text-white">Our Easy Linking to Social Media Profiles feature gathers all your social media
              accounts in one place on your Digital Business Card. Whether it's LinkedIn, Twitter, Facebook, or
              Instagram, we make it simple for people to locate and connect with you across different platforms. This
              enhances your online presence and encourages increased interaction with your brand on various social media
              channels.</p>
            <div class="view-all-btn3">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>START NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt30" id="product-add">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="product-add-text">
            <h2 class="text_dark">Industry Specific Smart Cards!!</h2>
            <p class="text_dark">You are come from any industry we offer you industry specific cards. Making an
              impression in the digital world starts with creating a unique smart card.</p>
            <div class="view-all-btn3">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>PURCHASE NOW</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-add-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-8.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="" id="sub-industry">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="sub-industry-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/pcards-9.png">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sub-industry-text">
            <h2 class="text_dark">Don't Wait , Start Networking Today With PCARDS NFC Card!!</h2>
            <p class="text_dark">Expand your networking with NFC cards! We design NFC digital business cards according
              to your specific requirement. Just tap your card on a phone and start networking. Explore new networking
              opportunities with PCARDS.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="" id="poster-video">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="poster-video-text">
            <h2 class="text_dark">Don't wait, try our digital business card now , because great business begins with a
              great first impression!</h2>
            <p class="text_dark">We aim to streamline your connections with people and potential leads through our
              Digital Business Cards powered by NFC solutions and smart apps. With PCARDS, the best digital business
              card solution, you can create a smart business card within minutes that ensures you never miss an
              opportunity to make a lasting impression. Our digital business cards feature professional business card
              designs that are both impressive and functional. Connecting with others has never been easier whether
              you’re at a conference, a networking event, or a casual meeting, your PCARDS NFC business card allows you
              to share your contact information seamlessly with actionable one-click features such as Call, Email,
              WhatsApp, and Map directions, alongside integrated bank and business details. Also, our Easy Linking
              feature centralizes all your social media accounts on your Digital Business Card, making it simple to
              connect on LinkedIn, Twitter, Facebook, and Instagram. Choosing PCARDS means opting for a smart,
              eco-friendly alternative to traditional business cards, showcasing your forward-thinking approach to
              business. Experience unparalleled customization options with PCARDS, offering sleek, modern layouts and
              robust functionality to help you stand out, and make the smart choice with the best digital business card
              solution to boost your networking to the next level. Create your NFC digital business card today and see
              how effortless, effective, and impressive connecting can be with PCARDS.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding testiMonial-section">
    <div class="card-heading ">
      <h4 class="text_dark">Don’t just take our word</h4>
      <h6>Hear what our customers are saying</h6>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="swiper testimonial_Swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                      patients and strengthen patient relationships through regular social media posts. I highly
                      recommend it to fellow dentists!</p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Dr Mohit Zamad</h5>
                    <p>President - Dental Implant Care Foundation</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                      know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                      my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                      posts for my business. It is a very cost-effective and user-friendly product. I highly
                      recommend it! </p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Sagar Mangalkar</h5>
                    <p>Shri Krishna Jewellers</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                      with a very simple user interface, no ads, no additional charges for any pic editing.
                      Regular app updates with every occasion either national or international helps u know the
                      occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                    </p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Dhiraj Hada</h5>
                    <p>Proprietor - Dhiraj Agencies</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                      know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                      my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                      posts for my business. It is a very cost-effective and user-friendly product. I highly
                      recommend it!</p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Nidhi Rathi</h5>
                    <p>Director - Nidhi Rathi &amp; Associates</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                      patients and strengthen patient relationships through regular social media posts. I highly
                      recommend it to fellow dentists!</p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Dr Mohit Zamad</h5>
                    <p>President - Dental Implant Care Foundation</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                      know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                      my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                      posts for my business. It is a very cost-effective and user-friendly product. I highly
                      recommend it! </p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Sagar Mangalkar</h5>
                    <p>Shri Krishna Jewellers</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                      with a very simple user interface, no ads, no additional charges for any pic editing.
                      Regular app updates with every occasion either national or international helps u know the
                      occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                    </p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Dhiraj Hada</h5>
                    <p>Proprietor - Dhiraj Agencies</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                      know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                      my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                      posts for my business. It is a very cost-effective and user-friendly product. I highly
                      recommend it!</p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Nidhi Rathi</h5>
                    <p>Director - Nidhi Rathi &amp; Associates</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                      patients and strengthen patient relationships through regular social media posts. I highly
                      recommend it to fellow dentists!</p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Dr Mohit Zamad</h5>
                    <p>President - Dental Implant Care Foundation</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="dont-just-div">
                  <div class="dont-just-top">
                    <i class="fa fa-quote-left"></i>
                    <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                      know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                      my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                      posts for my business. It is a very cost-effective and user-friendly product. I highly
                      recommend it! </p>
                  </div>
                  <div class="dont-just-bottom">
                    <h5>Sagar Mangalkar</h5>
                    <p>Shri Krishna Jewellers</p>
                    <small>Nagpur</small>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pagination Dots -->
            <div class="swiper-pagination"></div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-19 section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="download-app">
            <h2 class="text_dark">Be a Part of Power Community</h2>
            <p class="text_dark">Supercharge Your Business with PCARDS and Achieve a Power Growth with a Strong Digital
              Presence</p>
            <div class="apparel-expert-btn">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Join us Today</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="download-app-img">
            <img alt="pcards Images" src="/assets/website-images/Digita-card/download-app.png">
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

<div class="whatsapp-div">
  <!-- <a href="https://wa.me/+919158883141" target="_blank"><img alt="pcards Images"  rel="noopener noreferrer"
      src="/assets/website-images/whatsapp-call.png"></a> -->
       <button
  type="button"
  
  aria-label="Contact PCARDS on WhatsApp"
  (click)="openWhatsApp()"
>
  <img
    src="/assets/website-images/whatsapp-call.png"
    alt="pcards Images"
  >
</button>
</div>