<div class="website_main" id="social-media-post-page">


  <div class="wrapper">

    <section class="section-padding" id="postId1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 desktopDisplay">
            <div class="postidimg">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-31.png">
            </div>
          </div>
          <div class="col-lg-6 baner-col">
            <div class="apparel-content">
              <h1>SOCIAL MEDIA POST: YOUR POST, YOUR WAY</h1>
              <p>Boost your business by making eye-catching posts. Our “My design” feature is a perfect tool for
                creating stylish post for your shop or business. We provide you designs of 100+ categories to Create a
                Post. With a variety of Templates design a stunning post to promote your business. With our feature, you
                have the flexibility to customize your posts, add your logo, and play with text and colours to truly
                make your brand stand out.</p>
              <div class="apparel-expert-btn">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Start Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-bg overflow-hidden">
        <img alt="pcards Images" src="/assets/website-images/Digita-card/hero-shape.svg">
      </div>
    </section>
    <section class="section-padding" id="whatWe">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 float-none">
            <div class="section-title">
              <h2>What Features Do We Offer ?</h2>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="what-we-offer-text">
              <h4>Design a unique post to strengthen your Brand And Business.</h4>
              <ul>
                <li><i class="fa fa-check"></i>Get multiple sharing options</li>
                <li><i class="fa fa-check"></i>Multiple Design Options</li>
                <li><i class="fa fa-check"></i>Customizable Feature</li>
                <li><i class="fa fa-check"></i>Festive &amp; Non-Festive Designs </li>
                <li><i class="fa fa-check"></i>Sector Specific post</li>
                <li><i class="fa fa-check"></i>Motivational &amp; business quotes</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="what-we-offer-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-32.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="beneficial">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="benificial-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-33.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="benificial-text">
              <h2>How it is Beneficial For You?</h2>
              <p>We help you to create Stylish and Professional Post with ease and promote your business with a unique
                look. We also provide you multiple Greetings and festive and non-festive Posts, Business post to wish
                your loved ones or customers. Sharing good pictures regularly helps people trust you and think you're an
                expert in your field, making them like and follow you more.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="branding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="branding-text">
              <h2>Customizable Designs Every Festive or Non Festive Category!!</h2>
              <p>We offer colourful graphics for festive and non-festive categories. These designs are perfect for
                promotions, and greetings. Each template can be customized with your brand's logos, and you can write
                special messages. Our designs will help you connect with your audience, boosting engagement and trust.
                Establish Your Brand Identity, with a special festive and non-festive branding post.</p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>GET NOW</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="branding-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-34.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="whatsapp-sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="whatsapp-sticker-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-35.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="whatsapp-sticker-text">
              <h2>Get Multiple Categories!!</h2>
              <p>We offer multiple post options for each category, giving you the freedom to choose what suits you best.
                Whether you prefer festive or non-festive posts, motivational quotes, business tips, or something else
                entirely, we've got you covered. These post can be used to advertise special offers, or simply to spread
                the word about your business.</p>
              <div class="trus-user-btn">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>START TODAY</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="industry-special">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="industry-special-text">
              <h2>Business Specific Post For Daily Posting!!</h2>
              <p>No matter your industry you're in , whether you're a professional, business owner, doctor, engineer, or
                entrepreneur - you can design a posts and customized to your specific needs. Keep your audience
                interested and connected by posting daily. </p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>START NOW</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="industry-special-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-36.jpeg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="industry-logo">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="industry-logo-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-37.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="industry-logo-text">
              <h2>Customize Social Media Post And Engage With Your Customer!! </h2>
              <p>Establish a digital presence and elevate your brand. Our platform empowers you to customize a numerous
                post , attracting &amp; engaging more customers and boosting brand trust. With our user-friendly tools
                and seamless management, enhancing.</p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Create Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="product-add">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="product-add-text">
              <h2>Motivational &amp; Business Quotes Category!!</h2>
              <p>Looking to connect with your clients in a fresh and engaging way? You're in the right place! Here, we
                offer a collection of motivational &amp; Business quotes perfect for daily engagement. Inspire your
                audience, spark conversations, and foster a positive community with our social media posts. </p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>START TODAY</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-add-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-38.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="sub-industry">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="sub-industry-img">
              <img alt="pcards Images" src="/assets/website-images/social-media-post/pcards-39.png ">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sub-industry-text">
              <h2>Don’t Wait Just Shine Your Brand Today!!</h2>
              <p>No matter your sector, you will find designs related to your industry. Increase your reach and impact
                by easily sharing your posts with everyone, from loyal customers to potential collaborator. Explore new
                opportunities with PCARDS.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="poster-video">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="poster-video-text">
              <h2>Get your Best Social Media Post now, and start setting yourself apart from the competition!</h2>
              <p>Pcards is revolutionizing the way you create and manage social media posts with our innovative digital
                business cards. With digital business cards, you can design stunning social media posts that showcase
                your company profile, build a stunning gallery, and seamlessly receive direct inquiries from potential
                clients. Our social media post maker offers a variety of templates and designs to choose from, ensuring
                that your posts stand out from the crowd. Creative social media posts are no longer just a dream;
                they're a reality with PCARDS. Instagram social media post design is no longer just a tool for
                networking; it's a powerful marketing tool that can help you establish your brand identity and connect
                with your customers. Smart business card is no longer just a card; it's a gateway to a world of digital
                possibilities. Festival posts are no longer just a seasonal tradition; they're a way to connect with
                your audience and build brand loyalty. Social media posts are no longer just a one-way communication;
                they're a two-way conversation that can help you grow your business. With PCARDS, you'll have everything
                you need to take your social media game to the next level. And with our digital business cards, you'll
                get all the features you need to boost your online presence and connect with your audience.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding" id="dont-just">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 float-none">
            <div class="section-title">
              <h2>Don’t just take our word</h2>
              <h3>Hear what our customers are saying</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="swiper testimonial_Swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" >
                    <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                            patients and strengthen patient relationships through regular social media posts. I highly
                            recommend it to fellow dentists!</p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Dr Mohit Zamad</h5>
                          <p>President - Dental Implant Care Foundation</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                 <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                            know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                            my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                            posts for my business. It is a very cost-effective and user-friendly product. I highly
                            recommend it! </p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Sagar Mangalkar</h5>
                          <p>Shri Krishna Jewellers</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                   <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                            with a very simple user interface, no ads, no additional charges for any pic editing.
                            Regular app updates with every occasion either national or international helps u know the
                            occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                          </p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Dhiraj Hada</h5>
                          <p>Proprietor - Dhiraj Agencies</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                    <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                            know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                            my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                            posts for my business. It is a very cost-effective and user-friendly product. I highly
                            recommend it!</p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Nidhi Rathi</h5>
                          <p>Director - Nidhi Rathi &amp; Associates</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                  <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                            patients and strengthen patient relationships through regular social media posts. I highly
                            recommend it to fellow dentists!</p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Dr Mohit Zamad</h5>
                          <p>President - Dental Implant Care Foundation</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                   <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                            know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                            my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                            posts for my business. It is a very cost-effective and user-friendly product. I highly
                            recommend it! </p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Sagar Mangalkar</h5>
                          <p>Shri Krishna Jewellers</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                  <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                            with a very simple user interface, no ads, no additional charges for any pic editing.
                            Regular app updates with every occasion either national or international helps u know the
                            occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                          </p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Dhiraj Hada</h5>
                          <p>Proprietor - Dhiraj Agencies</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                    <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                            know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                            my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                            posts for my business. It is a very cost-effective and user-friendly product. I highly
                            recommend it!</p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Nidhi Rathi</h5>
                          <p>Director - Nidhi Rathi &amp; Associates</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                  <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                            patients and strengthen patient relationships through regular social media posts. I highly
                            recommend it to fellow dentists!</p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Dr Mohit Zamad</h5>
                          <p>President - Dental Implant Care Foundation</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
               <div class="swiper-slide" >
                   <div class="dont-just-div">
                        <div class="dont-just-top">
                          <i class="fa fa-quote-left"></i>
                          <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                            know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                            my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                            posts for my business. It is a very cost-effective and user-friendly product. I highly
                            recommend it! </p>
                        </div>
                        <div class="dont-just-bottom">
                          <h5>Sagar Mangalkar</h5>
                          <p>Shri Krishna Jewellers</p>
                          <small>Nagpur</small>
                        </div>
                      </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-19 section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="download-app">
              <h2>Be a Part of Power Community</h2>
              <p>Supercharge Your Business with PCARDS and Achieve a Power Growth with a Strong Digital Presence</p>
              <div class="trus-user-btn2">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Join us Today</a>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="download-app-img">
              <img alt="pcards Images" src="/assets/website-images/Digita-card/download-app.png">
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<div class="whatsapp-div">
  <!-- <a href="https://wa.me/+919158883141" target="_blank"><img alt="pcards Images"
      src="/assets/website-images/whatsapp-call.png"></a> -->
      <button
  type="button"
  
  aria-label="Contact PCARDS on WhatsApp"
  (click)="openWhatsApp()"
>
  <img
    src="/assets/website-images/whatsapp-call.png"
    alt="pcards Images"
  >
</button>
</div>