<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h1>Graphics Designer</h1>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-544" class="post-544 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary:</strong>
                  </h2>
                  <p>We are looking for a talented and creative Graphic Designer to join our team. As a Graphic Designer, you will play a key role in shaping our visual identity and enhancing the overall aesthetic appeal of our brand.</p>
                  <h2>
                    <strong>Qualifications:</strong>
                  </h2>
                  <ul>
                    <li>Proficiency in Graphics, Graphic Design, Product Mock-ups, and Branding</li>
                    <li>Ability to create creative and striking visual contents for multiple platforms and purposes</li>
                    <li>Proficiency in design tools such as Adobe Creative Suite or Figma.</li>
                    <li>Experience in logo design and able to produce a logo design timely and on-brand</li>
                    <li>Ability to work independently and collaboratively, meet tight deadlines, and prioritize workload effectively</li>
                    <li>Knowledge of Adobe Creative Suite- Photoshop, Illustrator, Figma, and CorelDraw are a must</li>
                    <li>Ability to take constructive feedback and iterate designs rapidly</li>
                    <li>Bachelor’s degree in Graphic Design or equivalent experience is preferred</li>
                    <li>A portfolio showcasing the applicant’s best work is required</li>
                  </ul>
                  <h2>
                    <strong>Responsibilities:</strong>
                  </h2>
                  <p>
                    <strong>Design Development:</strong>
                  </p>
                  <ul>
                    <li>Create visually engaging graphics for digital and print media.</li>
                    <li>Collaborate with teams to deliver effective visual solutions.</li>
                  </ul>
                  <p>
                    <strong>Branding:</strong>
                  </p>
                  <ul>
                    <li>Ensure brand guideline adherence for consistent design elements.</li>
                    <li>Contribute to the evolution of our brand identity.</li>
                  </ul>
                  <p>
                    <strong>Collaboration:</strong>
                  </p>
                  <ul>
                    <li>Work with cross-functional teams to understand project objectives.</li>
                    <li>Iterate on designs based on feedback for a positive team environment.</li>
                  </ul>
                  <p>
                    <strong>Deadline Management:</strong>
                  </p>
                  <ul>
                    <li>Manage multiple design projects simultaneously.</li>
                    <li>Prioritize tasks efficiently to meet project deadlines.</li>
                  </ul>
                  <h2>
                    <strong>Expectation:</strong>
                  </h2>
                  <p>Immediate Joiner</p>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
            <!-- <app-application-form></app-application-form> -->
             <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>