<div class="footer-2">
	<div class="container-fluid pl50 pr50">
		<div class="row">
			<div class="col-md-12">
				<h4>PCARDS Serves the Following Industries</h4>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >AUTOMOTIVE &amp; MOBILITY</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >FOOD &amp; BEVERAGE</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >MEDICAL &amp; HEALTHCARE</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >CONSULTANT</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >HEALTH &amp; FITNESS</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >POLITICAL</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >CONSUMER PRODUCTS</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >HOME DÉCOR &amp; INTERIOR</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >PROFESSIONALS</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >EDUCATION</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >INFORMATION TECHNOLOGY</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >REAL ESTATE</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >EVENT &amp; EXHIBITION</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >JEWELLERY</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >SPA &amp; BODY BOUTIQUE</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >FASHION &amp; LIFESTYLE</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >MANUFACTURING</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >TECHNOLOGY &amp; ENGINEERING</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >FINANCIAL INSTITUTIONS</a>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-6">
				<a href="" >MEDIA &amp; ENTERTAINMENT</a>
			</div>
		</div>
		<div class="row pt50">
			<div class="copyright">
			<div class="col-md-6">
			
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
		</div>
	</div>
</div>