<div class="website_main" id="mini-website-page">

  <div class="wrapper">

    <section class="section-padding" id="postId1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 desktopDisplay">
            <div class="postidimg">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-21.png">
            </div>
          </div>
          <div class="col-lg-6 baner-col">
            <div class="apparel-content">
              <h1>MINI WEBSITE : TAKE YOUR BUSINESS TO NEW HEIGHTS</h1>
              <p>In the ever-evolving digital landscape, having a strong online presence is not just an advantage; it's
                a necessity. At PCARDS, we provide a simplified platform for creating mini websites that enable you to
                showcase your company profile, build a stunning gallery, and seamlessly receive direct inquiries from
                potential clients. You can effortlessly create a comprehensive company profile that highlights about
                venture, specialities, values, and unique offerings. Showcase your experience, qualifications, and
                skills, providing potential customers with a clear understanding of your business's identity as well as
                you can show your product and services with description and image.</p>
              <div class="apparel-expert-btn">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>GET STARTED</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-bg overflow-hidden">
        <img alt="pcards Images" src="/assets/website-images/mini-website/hero-shape.svg">
      </div>
    </section>
    <section class="section-padding" id="whatWe">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 float-none">
            <div class="section-title">
              <h2>What Features Do We Offer?</h2>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="what-we-offer-text">
              <h3>Design a Mini Website that Reflects Your Business Identity.</h3>
              <ul>
                <li><i class="fa fa-check"></i>Write About Your Company</li>
                <li><i class="fa fa-check"></i>Add Your Product &amp; Service Catalogue</li>
                <li><i class="fa fa-check"></i>Add Photo &amp; Video Gallery</li>
                <li><i class="fa fa-check"></i>Payment Details Sharing</li>
                <li><i class="fa fa-check"></i>Get an Enquiry Form</li>
                <li><i class="fa fa-check"></i>Visitor Count</li>
                <li><i class="fa fa-check"></i>Skill &amp; Education Details</li>
                <li><i class="fa fa-check"></i>Add Your Experience</li>
                <li><i class="fa fa-check"></i>Other Links</li>
                <li><i class="fa fa-check"></i>Customization Feature</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="what-we-offer-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-22.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="beneficial">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="benificial-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-23.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="benificial-text">
              <h2>How It Is Beneficial For Your Industry?</h2>
              <p>We help you to create instant online presence with ease and promote your business with a unique way.
                Showcase your company details, links, share your site instantly, and keep your content fresh and
                relevant with flexible management options.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="branding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="branding-text">
              <h2>Open the Doors to Direct Inquiries &amp; Expand Your Reach!!</h2>
              <p>We offer direct inquiries features on our mini website platform. Potential customers can easily
                generate inquiries in multiple ways and ask about your offerings and business. Receive these inquiries
                directly on your PCARDS application, fostering direct connections and opening up new opportunities for
                growth. Maximize your business potential and connect with a wider audience today.</p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Start Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="branding-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-24.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="whatsapp-sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="whatsapp-sticker-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-25.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="whatsapp-sticker-text">
              <h2>Payment Details Sharing On Your Mini website!!</h2>
              <p>Add payment details to your mini website to simplify transactions. By integrating secure payment
                gateways, you can offer various payment options, such as credit/debit cards, PayPal, and more. This
                enables customers to conveniently make purchases directly from your website.</p>
              <div class="trus-user-btn">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Create Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="industry-special">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="industry-special-text">
              <h2>Industry Specific Mini Website!!</h2>
              <p>No matter what industry you're in, you can create your own mini website personalized to your specific
                needs. Making an impression in the digital world starts with a unique mini website. Unlock your business
                potential with a customizable website designed just for you. </p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Create Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="industry-special-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-26.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="industry-logo">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="industry-logo-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-27.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="industry-logo-text">
              <h2>Show Your Multiple Business &amp; Links On Mini Website!!</h2>
              <p>Do you have multiple businesses and links ? Don’t worry! With PCARDS, you can create your online
                presence by showcasing multiple businesses, links, and PDFs on a single place. Create an amazing website
                for your business for creating a lasting impression on customers.</p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>TRY NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="product-add">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="product-add-text">
              <h2>Create Your Mini Website With Stunning Photos &amp; Videos!!</h2>
              <p>Show your work visually. Display your projects and accomplishments through captivating photos and
                videos, allowing potential clients to visualize the quality of your work.</p>
              <div class="view-all-btn3">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>TRY NOW</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-add-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-28.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="sub-industry">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="sub-industry-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/pcards-29.png">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sub-industry-text">
              <h2>Let Everyone Know About Your Services Or Products!!</h2>
              <p>Mini website allows you to present detailed descriptions of your offerings, highlighting their unique
                features and benefits. Potential customers can easily generate inquiries related to any product or
                service, facilitating direct engagement and fostering valuable connections. Let the world know what you
                have to offer and watch your business thrive.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="" id="poster-video">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="poster-video-text">
              <h2>If you want to grow your business, then it's time to switch to a PCARDS Mini Website. Don't wait, try
                it today!</h2>
              <p>Pcards is revolutionizing the way you create and manage mini websites with our innovative digital
                business cards. With digital business cards, you can design stunning mini websites that showcase your
                company profile, build a stunning gallery, and seamlessly receive direct inquiries from potential
                clients. Our web page design feature allows you to create a comprehensive company profile that
                highlights about venture, specialities, values, and unique offerings. Design a website that reflects
                your business identity and mini website that showcases your products and services with description and
                image. Best free website builder for small business is no longer just a tool for networking; it's a
                powerful marketing tool that can help you establish your brand identity and connect with your customers.
                Dynamic website is no longer just a static page; it's a living, breathing platform that can help you
                grow your business. Small business website is no longer just a necessity; it's a key to unlocking your
                business potential. How to make a business website for free is no longer just a question; it's a reality
                with PCARDS. Free business website is no longer just a myth; it's a reality with PCARDS. Create business
                website free is no longer just a dream; it's a reality with PCARDS. With our Pcards digital business
                cards, you will get all the features you need to complete your online presence, from designing a
                stunning mini website to receiving direct inquiries from potential clients.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-padding" id="dont-just">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 float-none">
            <div class="section-title">
              <h2>Don’t just take our word</h2>
              <h5>Hear what our customers are saying</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="swiper testimonial_Swiper">
              <div class="swiper-wrapper mb-4">
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                        patients and strengthen patient relationships through regular social media posts. I highly
                        recommend it to fellow dentists!</p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Dr Mohit Zamad</h5>
                      <p>President - Dental Implant Care Foundation</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                        know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                        my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                        posts for my business. It is a very cost-effective and user-friendly product. I highly
                        recommend it! </p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Sagar Mangalkar</h5>
                      <p>Shri Krishna Jewellers</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                        with a very simple user interface, no ads, no additional charges for any pic editing.
                        Regular app updates with every occasion either national or international helps u know the
                        occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                      </p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Dhiraj Hada</h5>
                      <p>Proprietor - Dhiraj Agencies</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                        know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                        my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                        posts for my business. It is a very cost-effective and user-friendly product. I highly
                        recommend it!</p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Nidhi Rathi</h5>
                      <p>Director - Nidhi Rathi &amp; Associates</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                        patients and strengthen patient relationships through regular social media posts. I highly
                        recommend it to fellow dentists!</p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Dr Mohit Zamad</h5>
                      <p>President - Dental Implant Care Foundation</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                        know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                        my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                        posts for my business. It is a very cost-effective and user-friendly product. I highly
                        recommend it! </p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Sagar Mangalkar</h5>
                      <p>Shri Krishna Jewellers</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p> There may be many apps like these, but this is one of kind app that has a lot to offer
                        with a very simple user interface, no ads, no additional charges for any pic editing.
                        Regular app updates with every occasion either national or international helps u know the
                        occasions u haven't known existed. It also helps you grow professionally. Loved this app.
                      </p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Dhiraj Hada</h5>
                      <p>Proprietor - Dhiraj Agencies</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                        know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                        my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                        posts for my business. It is a very cost-effective and user-friendly product. I highly
                        recommend it!</p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Nidhi Rathi</h5>
                      <p>Director - Nidhi Rathi &amp; Associates</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>PCARDS has significantly impacted our dental practice. It empowers us to connect with
                        patients and strengthen patient relationships through regular social media posts. I highly
                        recommend it to fellow dentists!</p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Dr Mohit Zamad</h5>
                      <p>President - Dental Implant Care Foundation</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="dont-just-div">
                    <div class="dont-just-top">
                      <i class="fa fa-quote-left"></i>
                      <p>I was looking for a simplified solution to boost my digital presence, and then I got to
                        know about PCARDS from one of my colleagues. It provides me with a one-stop solution for all
                        my requirements, i.e., a Mini Website, Digital Business Cards, and, of course, social media
                        posts for my business. It is a very cost-effective and user-friendly product. I highly
                        recommend it! </p>
                    </div>
                    <div class="dont-just-bottom">
                      <h5>Sagar Mangalkar</h5>
                      <p>Shri Krishna Jewellers</p>
                      <small>Nagpur</small>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Pagination Dots -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-19 section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="download-app">
              <h2>Be a Part of Power Community</h2>
              <p>Supercharge Your Business with PCARDS and Achieve a Power Growth with a Strong Digital Presence</p>
              <div class="trus-user-btn2">
                <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Join us Today</a>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="download-app-img">
              <img alt="pcards Images" src="/assets/website-images/mini-website/download-app.png">
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

<div class="whatsapp-div">
  <!-- <a href="https://wa.me/+919158883141" target="_blank"><img alt="pcards Images"  rel="noopener noreferrer"
      src="/assets/website-images/whatsapp-call.png"></a> -->

      <button
  type="button"
  
  aria-label="Contact PCARDS on WhatsApp"
  (click)="openWhatsApp()"
>
  <img
    src="/assets/website-images/whatsapp-call.png"
    alt=""
  >
</button>
</div>