<section id="price">
  <section class="section-padding" id="postId1">
  <div class="container">
    <div class="row">
      <div class="col-md-10 float-none">
        <div class="section-title">
          <h1>3 in 1 Power Card to transform your Business</h1>
          <h2 class="section-subtitle">In the fast-paced digital era, first impressions matter more than ever. Whether you're a seasoned professional, an aspiring entrepreneur, or a creative freelancer, PCARDS is your gateway to making a memorable impact in the online world. This innovative power card combines three essential tools in one seamless package.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
         <div class="cardbox">
            <img src="/assets/website-images/price/business-card-design.png" alt="pcards Images">
            <h3>Digital Business Card</h3>
            <p>Your gateway to modern networking in the Digital Business Card</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="cardbox">
            <img src="/assets/website-images/price/advertisement.png" alt="pcards Images">
            <h3>Social Media Creativesd</h3>
            <p>Design, Engage, Succeed to your post, your way</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="cardbox">
            <img src="/assets/website-images/price/global.png" alt="pcards Images">
            <h3>Mini Website</h3>
            <p>Enjoy endless opportunities with mini website to transform your business digitally</p>
         </div>
      </div>
  </div>
</div>
<div class="shape-bg overflow-hidden">
  <img src="/assets/website-images/price/hero-shape.svg" alt="pcards Images">
</div>
</section>
<section class="section-padding" id="pricing">
    
   <div class="container">
      <div class="row">
         <div class="col-md-9 float-none">
            <div class="section-title">
               <h2>How Affordable!</h2>
               
            </div>
         </div>
      </div>
      <div class="row row-gap-3">
         <div class="col-lg-6 col-12">
            <div class="pricingTable">
                 <div class="pricingTable-header">
                     <h3 class="title">3 In 1 Power Card</h3>
                 </div>
                 <div class="price-value">
                     <span class="amount">INR 20,000/- + GST</span>
                     <span class="duration">Per Year</span>
                 </div>
                 <ul class="pricing-content">
                     <li>365 Days Validity of PCARDS Subscription</li>
                     <li>1 NFC Chip Enabled Smart Card</li>
                     <li>2 QR Code Stickers</li>
                     <li>Social Media Creatives with your branding</li>
                     <li>Access to Mobile Application</li>
                     <li>Personalised Link of your card profile</li>
                 </ul>
                 <div class="pricingTable-signup">
                     <a [href]="globalObject.urlNew + '/login'">Create Now</a>
                 </div>
            </div>
         </div>
          <div class="col-lg-6 col-12">
            <div class="pricingTable">
                 <div class="pricingTable-header">
                     <h3 class="title title-color">Launch Offer Price</h3>
                 </div>
                 <div class="price-value">
                     <span class="amount"><span class="span1">USD 249 <span class="crossPrice">499</span></span> | <span class="span2">CAD 349 <span class="crossPrice">599</span></span></span>
                     <span class="duration">Per Year</span>
                 </div>
                 <ul class="pricing-content">
                     <li>365 Days Validity of PCARDS Subscription</li>
                     <li>1 NFC Chip Enabled Smart Card</li>
                     <li>2 QR Code Stickers</li>
                     <li>Social Media Creatives with your branding</li>
                     <li>Access to Mobile Application</li>
                     <li>Personalised Link of your card profile</li>
                 </ul>
                 <div class="pricingTable-signup ">
                     <a class="light-border" [href]="globalObject.urlNew + '/login'">Create Now</a>
                 </div>
            </div>
         </div>
      </div>
   </div>
   
</section>
<section class="section-19 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="download-app">
          <h2>Be a Part of Power Community</h2>
          <p>Supercharge Your Business with PCARDS and Achieve a Power Growth with a Strong Digital Presence</p>
          <div class="trus-user-btn2">
              <a [href]="globalObject.urlNew + '/login'"><i class="fa fa-arrow-right"></i>Join us Today</a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="download-app-img">
          <img alt="pcards Images" src="/assets/website-images/price/download-app.png">
        </div>
      </div>
    </div>
  </div>
  
</section>
</section>

<div class="whatsapp-div">
	<!-- <a href="https://wa.me/+919158883141" target="_blank"  rel="noopener noreferrer">
    <img alt="WhatsApp" src="/assets/website-images/whatsapp-call.png" ></a> -->
     <button
  type="button"
  
  aria-label="Contact PCARDS on WhatsApp"
  (click)="openWhatsApp()"
>
  <img
    src="/assets/website-images/whatsapp-call.png"
    alt="pcards Images"
  >
</button>
</div>