<section id="join-our-team">

  <div class="career-background">
    <div class="row">
      <div class="col-md-10 float-none upcol">
        <div class="career-pro">
          <article id="post-479" class="post-479 page type-page status-publish hentry">
            <div class="entry-content">
              <h1 style="text-align: center;">Join our team now !</h1>
              <h2 style="text-align: center;">Let’s create the power community together</h2>
              <p style="text-align: center;">Join us in this exciting journey where innovation meets creativity, and be
                the part of a vision to create biggest business community of India to inspire &amp; empower the people.
              </p>
            </div>
            <!-- .entry-content -->
          </article>
          <!-- #post-## -->
          <div class="career-btn">
            <a class="carer-b-1" (click)="scrollToSection()">Explore Jobs </a>
            <a class="carer-b-2" routerLink="/digital/drop-your-resume">Drop You Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pageLayout pt50">
    <div class="row">
      <div class="col-md-10 float-none upcol">
        <div class="career-benif">
          <div class="row career-benif-row">
            <div class="career-beif-title">
              <h2>Benefits and Advantages</h2>
              <p>Our employee’s happiness is our utmost priority.</p>
            </div>
            <div class="col-6 ">
              <div class="career-benif-div">
                <img src="/assets/website-images/join-our-team/icon6.svg_.webp" alt="pcard team">
                <h3>Vision to Inspire &amp; Empower</h3>
                <p>Our vision is to make a positive impact on society by encouraging and inspiring everyone. Join us,
                  together, we can create positive change for collective success. </p>
              </div>
            </div>
            <div class="col-6 ">
              <div class="career-benif-div">
                <img src="/assets/website-images/join-our-team/icon5.svg_.webp" alt="pcard team">
                <h3>Power growth </h3>
                <p>We provide learning opportunities, mentorship programs, and a career path that supports your personal
                  and professional aspirations. </p>
              </div>
            </div>
            <div class="col-6 ">
              <div class="career-benif-div">
                <img src="/assets/website-images/join-our-team/icon4.svg_.webp" alt="pcard team">
                <h3>Industry best salary </h3>
                <p>PCARDS offer best salary packages with lot of incentives &amp; benefits for good work. </p>
              </div>
            </div>
            <div class="col-6 ">
              <div class="career-benif-div">
                <img src="/assets/website-images/join-our-team/icon5.svg_.webp" alt="pcard team">
                <h3>Supportive environment </h3>
                <p>We believe in the power of teamwork, you will experience the supportive &amp; fun environment with
                  diverse group of individuals working together to bring the best out of each other. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 float-none">

      <div class="swiper owl-careerspeak">
            <div class="swiper-wrapper">
              <div class="swiper-slide" >
                  <div class="carspeak-div">
                    <div class="carspeak-desc">
                      <img src="/assets/website-images/join-our-team/mohamad.webp" alt="pcard team">
                      <h3>Rajan Chindhalore</h3>
                      <h4>Business Management Intern</h4>
                      <ul class="test-box-list">
                        <li>
                          College of Engineering Pune
                        </li>
                      </ul>
                    </div>
                    <p>I worked with PCARDS as a business management intern, it was an great learning experience. I got
                      to work on different projects that taught me about things like finding out what customers want,
                      keeping good relationships with clients, and planning smart moves for the business. The team
                      trusted me with important tasks, which made me more confident and responsible. I got opportunity
                      for participating in events, during internship that enhancing my networking skills and gaining
                      exposure to real-world business scenarios. My supervisor was very supportive and motivating,
                      taking the time to teach various concepts carefully. PCARDS team provided an exceptional learning
                      environment, making it the ideal place for hands-on learning. </p>
                  </div>
              </div>
               <div class="swiper-slide" >
                 <div class="carspeak-div">
                    <div class="carspeak-desc">
                      <img src="/assets/website-images/join-our-team/WhatsApp-Image-2023-12-18-at-4.17.25-PM.webp"
                        alt="pcard team">
                      <h3>Dinky Shahu</h3>
                      <h4> UX/UI Intern</h4>
                      <ul class="test-box-list">
                        <li>
                          SYMBIOSIS UNIVERSITY NAGPUR
                        </li>
                      </ul>
                    </div>
                    <p>I worked as a UIUX intern at PCARDS, where I designed their website, which satisfies all of the
                      company's requirements and targets its target audience. This was my first live project, and it
                      helped me grow as a team player and gain first-hand experience that helped greatly in my
                      understanding of the design industry. I am grateful that PCARDS gave me this opportunity. </p>
                  </div>
              </div>
               <div class="swiper-slide" >
                   <div class="carspeak-div">
                    <div class="carspeak-desc">
                      <img src="/assets/website-images/join-our-team/IMG_20230226_145937_584.webp" alt="pcard team">
                      <h3>Faizal Hasham</h3>
                      <h4>Research Intern</h4>
                      <ul class="test-box-list">
                        <li>
                          IIT PATNA (3rd Year)
                        </li>
                      </ul>
                    </div>
                    <p>Worked as a product management intern in PCARDS for 1 month. Despite being an intern, I was given
                      the opportunity to closely work with the Director of PCARDS, which was quite a valuable
                      experience. He guided me closely as a mentor and helped me understand the whole thought process of
                      the product development cycle. The work consisted of both practical and research-based activities.
                      The experience was divided into week-wise tasks, where at the end of each week, I was given the
                      upcoming week's task and then instructed to conduct practical research followed by gathering user
                      feedback for a couple of days. This feedback would then be carefully analyzed, and final
                      conclusions would be derived for the practical implementation of the work done. Overall, the whole
                      process was very helpful for my personal development in terms of building and learning the
                      practical thought process behind product development while developing soft skills on the side,
                      such as sales, UI/UX, task organization, networking etc. </p>
                  </div>
              </div>
            </div>
          </div>





      </div>
    </div>
    <div class="row mt50 mb50" id="jobList">
      <div class="col-md-12 float-none">
        <div class="job-oping">
          <h2 class="title">Job Openings</h2>
          <p>We are in search of passionate individuals who want to who want to make an impact in their specific fields.
          </p>
          <span>07 Opening</span>
          <div class="job-oping-div">
              <div class="job-title  w-100">
                <h2>Sales Executive</h2>
                  <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/sales-executive" routerLinkActive="active">Apply Now</a>
              </div>
            </div>
           
          </div>
          <div class="job-oping-div">
            
              <div class="job-title  w-100">
                <h2>Sales Intern</h2>
                  <div class="job-btn">
                <ul>
                  <li>
                   <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/sales-intern">Apply Now</a>
              </div>
            </div>
          
          </div>
          <div class="job-oping-div">
      
              <div class="job-title  w-100">
                <h2>HR Executive</h2>
                 <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/hr-executive">Apply Now</a>
              </div>

           
            </div>
          </div>
          <div class="job-oping-div">
            
              <div class="job-title  w-100">
                <h2>Video Editor</h2>
                  <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/video-editor">Apply Now</a>
              </div>
            
            </div>
          </div>
          <div class="job-oping-div">
        
              <div class="job-title  w-100">
                <h2>Graphics Designer</h2>
              <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/graphics-designer">Apply Now</a>
              </div>
              </div>
          </div>
          <div class="job-oping-div">
          
              <div class="job-title  w-100">
                <h2>Business Development Intern</h2>
                 <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/business-development-intern">Apply Now</a>
              </div>
              </div>
       
           
     
          </div>
          <div class="job-oping-div">
           
              <div class="job-title   w-100">
                <h2>Business Development Executive</h2>
                <div class="job-btn">
                <ul>
                  <li>
                    <i class="fa-regular fa-clock"></i>Full-Time
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>Nagpur
                  </li>
                </ul>
               
                <a routerLink="/digital/business-development-executive">Apply Now</a>
              </div>
              </div>
          
          </div>

        </div>
        <div class="dont">
          <h3>Don't see a role that fits?</h3>
          <a routerLink="/digital/drop-your-resume">Drop Your Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-pink-apply pt50 pb50">
    <div class="row">
      <div class="col-md-11 float-none">
        <div class="careerapply-now">
          <h3>Are you ready to make lasting impressions with PCARDS?</h3>
          <div class="careerapply-btn">
            <a [href]="globalObject.urlNew + '/login'" >Become User</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>