<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="business development executive">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h2>Business Development Executive</h2>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-483" class="post-483 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <div class="about-us">
                    <h2>
                      <strong>Job summary</strong>
                    </h2>
                    <p>Are you someone who loves building connections, exploring new opportunities, and helping businesses grow? We’re looking for a dynamic Business Development Executive to join our team. In this role, you’ll be responsible for finding new business prospects, making deals, and building strong relationships with clients.</p>
                    <h2>
                      <strong>Eligibility:</strong>
                    </h2>
                    <ul>
                      <li>Bachelor’s degree in any stream (Business, Marketing, or a related field is preferred).</li>
                      <li>Strong communication, negotiation, and interpersonal skills.</li>
                      <li>Ability to work both independently and collaboratively in a team.</li>
                      <li>Results-oriented with a track record of meeting or exceeding sales targets.</li>
                    </ul>
                    <h2>
                      <strong>Key Responsibilities</strong>
                    </h2>
                    <ul>
                      <li>Identify potential clients and industries that align with our products.</li>
                      <li>Contribute to lead generation efforts through online research, networking, events, conference.</li>
                      <li>Understand customer requirements.</li>
                      <li>Present them the product effectively.</li>
                      <li>Ability to explain complex information clearly and simply.</li>
                      <li>Good sales and negotiation skills.</li>
                      <li>An honest and trustworthy manner.</li>
                      <li>Resolve customer complaints quickly and effectively.</li>
                      <li>Building and maintaining profitable relationships with key customers.</li>
                      <li>Overseeing the relationship with customers handled by your team.</li>
                      <li>Keeping customers updated on our products in order to increase sales.</li>
                    </ul>
                    <h2>
                      <strong>Expectations</strong>
                    </h2>
                    <ul>
                      <li>Experience in sales domain is preferred.</li>
                      <li>Maintain a positive attitude focused on customer satisfaction.</li>
                      <li>Problem-solving attitude.</li>
                      <li>Excellent communication skills.</li>
                      <li>Teamwork and leadership skills.</li>
                      <li>Customer-oriented mindset.</li>
                    </ul>
                  </div>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
            <!-- <app-application-form></app-application-form> -->
             <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>