<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h1>Sales Intern</h1>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-545" class="post-545 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary:</strong>
                  </h2>
                  <p>We are looking for a motivated and enthusiastic Sales Intern to join our team. As a Sales Intern, you will assist the sales team in day-to-day activities, learn about the sales process, and contribute to sales efforts while gaining hands-on experience in the field.</p>
                  <h2>Eligility:</h2>
                  <ul>
                    <li>Current pursuing degree in any stream.</li>
                    <li>Strong communication and interpersonal skills.</li>
                    <li>Eagerness to learn about business development and sales processes.</li>
                    <li>Ability to work well independently and in a team environment.</li>
                  </ul>
                  <h2>
                    <strong>Key Responsibilities</strong>
                  </h2>
                  <ul>
                    <li>Assist the sales team with lead generation and prospecting.</li>
                    <li>Conduct market research to identify potential clients and opportunities.</li>
                    <li>Help prepare sales presentations and proposals.</li>
                    <li>Support the team with follow-ups on sales inquiries and leads.</li>
                    <li>Assist in identifying potential clients and industries through market research.</li>
                    <li>Participate in sales meetings and provide input as needed.</li>
                    <li>Learn about and help with the sales process from lead generation to closing.</li>
                    <li>Participate in negotiations and understand contract terms aligned with client needs.</li>
                  </ul>
                  
                  <h2>
                    <strong>Expectations:</strong>
                  </h2>
                  <ul>
                      <li>Maintain a positive attitude</li>
                        <li>Problem-solving attitude</li>
                        <li>Excellent communication skills</li>
                        <li>Teamwork and leadership skills</li>
                  </ul>
                </div>
                <!-- .entry-content -->
              </article>
              <!-- #post-## -->
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
          <!-- <app-application-form></app-application-form> -->
           <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>