<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
        <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container">
        <div class="col-md-12 pt30">
          <div class="job-title jobborderbtm">
            <h1>HR Executive</h1>
            <ul>
              <li>
                <i class="fa-regular fa-clock"></i>Full-Time
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>Nagpur
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 pt30">
            <div class="job-desc">
              <article id="post-545" class="post-545 gg_job type-gg_job status-publish hentry">
                <div class="entry-content">
                  <h2>
                    <strong>Job summary:</strong>
                  </h2>
                  <p>Are you passionate about people, workplace culture, and talent management? We're looking for a proactive HR Executive to join our team. In this role, you will be responsible for recruitment, employee engagement, Client management, and ensuring smooth HR operations. If you enjoy working with people and creating a positive work environment, this is the perfect opportunity for you.</p>
                  <h2>Eligility:</h2>
                  <ul>
                    <li>Master’s/Bachelor’s degree in Human Resources, Business Administration, or a related field.</li>
                    <li>Strong communication and interpersonal skills.</li>
                    <li>Ability to work independently and collaboratively in a team.</li>
                    <li>Knowledge of HR best practices, labor laws, and compliance.</li>
                    <li>Prior experience in HR roles is preferred but not mandatory.</li>
                  </ul>
                  <h2>
                    <strong>Key Responsibilities</strong>
                  </h2>
                  <ul>
                    <li>Manage the end-to-end recruitment process, including sourcing, screening, and onboarding candidates.</li>
                    <li>Handle employee queries and provide HR support to ensure a smooth work environment.</li>
                    <li>Assist in client processing, attendance tracking, and leave management.</li>
                    <li>Organise employee engagement activities to foster a positive workplace culture.</li>
                    <li>Maintain HR records and ensure compliance with company policies.</li>
                    <li>Conduct performance evaluations and assist in training and development programs.</li>
                    <li>Address employee grievances and resolve workplace issues effectively.</li>
                    <li>Ensure smooth exit procedures, including full and final settlements.</li>
                  </ul>
                  
                  <h2>
                    <strong>Expectations:</strong>
                  </h2>
                  <ul>
                      <li>Strong problem-solving and decision-making skills.</li>
                      <li>Excellent organizational and time-management abilities.</li>
                      <li>Ability to maintain confidentiality and handle sensitive information.</li>
                      <li>Proficiency in MS Office and HR management software is an added advantage.</li>
                      <li>A positive and approachable attitude towards employees and management.</li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="hr-dep">
              <h3> For Any Query Contact HR Department </h3>
              <ul>
                <li>
                  <span>Phone Number : </span>+91-9158883141
                </li>
                <li>
                  <span>Email Id : </span>hr&commat;pcards.org
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 pt30">
           <!-- <app-application-form></app-application-form> -->
           <app-application-form [designation]=designation [designation_flag]="designation_flag"></app-application-form>
          </div>
        </div>
      </div>
    </div>