<div class="container-fluid pageLayout pb80">
      <div class="pageVerBorder">
      <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
      </div>
      <div class="container" id="pagesetting">
        <div class="col-sm-12">
          <div class="setVideos2">
            <h2>Video Tutorial On Step By Step Guide To Update Your PCARDS Profile</h2> 
            <p>Welcome to the PCARDS Tutorials Series! Here, you'll find a series of helpful tutorials designed to guide you through the various features and functionalities of the PCARDS application. Each video in this Series provides clear, step-by-step instructions on how to utilize different aspects of PCARDS to enhance your digital presence.</p>
          </div>    
          
          <div class="row ">
              
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/T2fNJSWzvyk?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>1. How to Update Templates:</strong><span> learn to update templates anytime anywhere.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/_A5ni2ZGahE?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>2.	How to Update Contact Information:</strong><span> learn to update all your information.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/OVTPhXUyT3A?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>3.	How to Update Profile/Logo:</strong><span> learn to update your picture or business logo.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/opCDBRf4htg?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>4.	How to Add Social Links:</strong><span> Learn how to integrate social media links into your PCARDS profile to connect with your audience.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/CU2GW917_i8?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>5.	How to Add Company Info:</strong><span> Discover how to showcase your company information effectively on your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/ke_7hMY6DVo?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>6.	How to Add Products:</strong><span> Explore the process of adding product details to your PCARDS profile for easy sharing.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/YjBK9bfoWGU?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>7.	How to Add Services:</strong><span> Learn how to highlight your services on your PCARDS profile to attract potential clients.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/FC5_-aRz9CY?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>8.	How to Add Payment:</strong><span> Discover the steps to incorporate payment details into your PCARDS profile for seamless transactions.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/tcfQIvK-Tmk?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>9.	How to Add Specialties:</strong><span><span> Learn how to showcase your unique specialties and skills on your PCARDS profile.</span></span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/9nSqwqFCtGc?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>10.	How to Add Other Links:</strong><span> Explore how to include additional links, such as PDF files or external websites, on your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/ETeakMUR0Lg?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>11.	How to Add Other Business:</strong><span> Discover how to showcase other businesses on your PCARDS profile for collaboration opportunities.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/0Qa1pHNQ9fo?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>12.	How to Add About Me:</strong><span> Learn how to personalize your PCARDS profile with an engaging About Me section.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/FY61uBhl_mA?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>13.	How to Add Education:</strong><span> Explore the process of adding educational background details to your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/PlVY8hNkve4?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>14.	How to Add Skills:</strong><span> Discover how to highlight your skills and expertise on your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/uGrrfQiD778?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>15.	How to Add Experience:</strong><span> Learn how to showcase your professional experience effectively on your PCARDS profile.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/tlgQzJEpSEE?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>16.	How to Add Photos:</strong><span> Explore the steps to add photos to your PCARDS profile for a visually appealing presentation.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 ">
              <div class="blogs-pcards">
                <div class="">
                  <iframe allow="compute-pressure" id="vid_frame" src="https://www.youtube.com/embed/zGTqasWxCdw?rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" width="100%" height="210"></iframe>
                </div>
                <div class="setVideoTitleHeight">
                  <h3 class="main-title-three">
                    <p><strong>17.	How to Add Video:</strong><span> Discover how to incorporate videos into your PCARDS profile to engage your audience effectively.</span></p>
                  </h3>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>