.submit_msg {
  background: #bfffe0;
  padding: 10px 20px;
  border-radius: 4px;
  color: green !important;
  font-weight: 600;
  font-size: 15px;
}
.job-form-box h1{
  font-size: 30px;
  line-height: 42px;
  font-family: "gilroy-medium";
  color: #fff !important;

}