<div class="container-fluid pageLayout pb80">
    <div class="pageVerBorder">
      <img src="/assets/website-images/community/line-61.svg" alt="pcard images">
    </div>
    <div class="row" id="pagesetting">
      <div class="col-sm-12">       
        <h1>Startup Stories</h1>

        <div class="row">
        
            <div class="col-md-12 mb30">
            <div class="center-div"><img src="/assets/website-images/coming-soon.jpg" alt="pcard images"></div>
          </div>
            </div>  

      </div>
      </div>
    </div>