
<section id="power-ambassador">
<div class="camp-background">
      <div class="row h-100">
        <div class="col-md-9 float-none d-flex align-items-center justify-content-center">
          <div class="campus-pro">
            <h1>Power Ambassador Program</h1>
            <p>Get hands-on experience in marketing and sales while representing PCARDS on your campus. Apply to our power ambassador program today!</p>
            <a href="https://forms.gle/1azWSqnbccEH9JY47" target="_blank" class="campus-apply">Apply Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid pageLayout">
      <div class="row">
        <div class="col-md-6 float-none">
          <div class="about-program">
            <h2>About the Program</h2>
            <p>PCARDS Power Ambassador Program aims to form a community of individuals to represent our Brand. This program nurtures and empowers young people to develop skills for their careers growth, with the added perk of becoming the official brand ambassadors for PCARDS.</p>
          </div>
        </div>
        <div class="col-md-10 float-none upcol">
          <div class="row flip-card-row">
            <div class="col-xl-4 col-6 ">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/assets/website-images/power-ambassador/frame-3.webp" alt="power ambassador">
                    <h3>Community Building</h3>
                  </div>
                  <div class="flip-box-back">
                    <p>Join our Power Ambassador program and become a part of an exclusive community of driven and passionate individuals! You will have the opportunity to develop leadership skills, gain valuable experience, and make meaningful connections with like-minded peers.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-6 ">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/assets/website-images/power-ambassador/frame-1.webp" alt="power ambassador">
                    <h3>Brand Representative</h3>
                  </div>
                  <div class="flip-box-back">
                    <p>Be our Brand Representative! Play a crucial role in promoting our company, products, and services to your fellow peers. You will embody the values and mission of PCARDS, and work to build strong and lasting relationships with your peers and community.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-6 ">
              <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="/assets/website-images/power-ambassador/frame-2.webp" alt="power ambassador">
                    <h3>Learning Experiences</h3>
                  </div>
                  <div class="flip-box-back">
                    <p>You'll gain valuable marketing and sales experience along with that you'll enhance you will enhance your leadership and networking skills. There will be an real time learning experiences for the candidates that will help in nurturing their skills for future and will help in in their career growth.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="what-do mt50 mb50">
            <h2 class="title">What will you do?</h2>
            <h2>Be Our Brand Representative</h2>
            <div class="row pt50 pb50">
              <div class="col-md-12">
                <div class="main-timeline">
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-8899-1.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Ideate and execute Creative &amp; Innovative campus marketing campaign plans. </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-8900-1.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Strategize and drive Word-of-mouth in campus activities. </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-8902.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Working on Digital and Social media marketing for PCARDS. </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-2.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Promotion and Sales of the PCARDS Products as per the given tasks </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-1-1.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Conducting field survey for the PCARDS products and features </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-8899.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Organise community meetup events </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a  class="timeline-content">
                      <div class="timeline-icon">
                        <img src="/assets/website-images/power-ambassador/Group-8900.webp" alt="power ambassador">
                      </div>
                      <p class="description"> Participate &amp; Organise the learning Workshops. </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt80 mb80 joincampus">
          <div class="row">
            <div class="col-md-8 float-none">
              <h3>Join our Power Ambassador Program and gain valuable experience, build your professional network, and earn rewards for your hard work.</h3>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-11 float-none ">
            <div class="benifits-div">
              <h2>Benefits for the Power Ambassador</h2>
            </div>
            <div class="row card-row">
               <div class="col-lg-4 col-md-6 col-12">
              <div class="pricingTable pricingTable1">
                <div class="pricingTable-header">
                  <h3 class="title">Rewards and Recognition</h3>
                </div>
                <ul>
                  <li>Certificate of excellence / letter of recommendation</li>
                  <li>Appreciation letter from CEO</li>
                  <li>Opportunity to win Cash Prices</li>
                  <li>Commission on overachieving</li>
                  <li>Exciting PCARDS goodies and products</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="pricingTable pricingTable2">
                <div class="pricingTable-header">
                  <h3 class="title">Enhance your Profile</h3>
                </div>
                <ul>
                  <li>Opportunity to win personalised digital profile</li>
                  <li>Make your resume stand out</li>
                  <li>Get a letter of recommendation</li>
                  <li>Improve job prospects</li>
                  <li>Potentially lead to a job offer in PCARDS</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="pricingTable pricingTable3">
                <div class="pricingTable-header">
                  <h3 class="title">Learning Opportunities</h3>
                </div>
                <ul>
                  <li>Develop valuable Leadership skills.</li>
                  <li>Opportunity to network with Industry’s best</li>
                  <li>Hands on experience in event management</li>
                  <li>Experience real-time social media marketing, branding, and sales..</li>
                  <li>Opportunity to connect with others.</li>
                  <li>Identify and improve skill areas.</li>
                </ul>
              </div>
            </div>
            </div>
           
          </div>
        </div>
        <div class="row mt50 mb50 ms-0 me-0">
          <div class="col-md-7 float-none">
            <div class="fre-que">
              <h2>Frequently Asked Questions</h2>
              <div class="accordion" id="accordion">

  <!-- Item 1 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading1">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="true"
        aria-controls="collapse1">
        <i class="me-2 toggle-icon"></i>
        What is the PCARDS Power Ambassador Program about?
      </button>
    </h4>
    <div id="collapse1" class="accordion-collapse collapse show "
      aria-labelledby="heading1"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>PCARDS Power Ambassador Program is a campus-marketing and sales program that aims to form a community of youngsters to be brand representatives of PCARDS.</p>
      </div>
    </div>
  </div>

  <!-- Item 2 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading2">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse2"
        aria-expanded="false"
        aria-controls="collapse2">
        <i class="me-2 toggle-icon"></i>
        Who can apply?
      </button>
    </h4>
    <div id="collapse2" class="accordion-collapse collapse"
      aria-labelledby="heading2"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>Minimum 18 years of age Strong written and verbal communication skills in English Pursuing Graduation or Post Graduation Based out of Nagpur Evaluation : Based on past extracurricular activities in management or sales.</p>
      </div>
    </div>
  </div>

  <!-- Item 3 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading3">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse3"
        aria-expanded="false"
        aria-controls="collapse3">
        <i class="me-2 toggle-icon"></i>
        How do I apply? What happens after I apply?
      </button>
    </h4>
    <div id="collapse3" class="accordion-collapse collapse"
      aria-labelledby="heading3"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>You can apply directly through our website using the apply button on this page. Once you apply, you will hear from us if you are selected.</p>
      </div>
    </div>
  </div>

  <!-- Item 4 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading4">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse4"
        aria-expanded="false"
        aria-controls="collapse4">
        <i class="me-2 toggle-icon"></i>
        Are there any incentives for being a power ambassador?
      </button>
    </h4>
    <div id="collapse4" class="accordion-collapse collapse"
      aria-labelledby="heading4"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>Yes there are incentives. You can find a detailed description of the rewards in the Benefits for power Ambassador Section above.</p>
      </div>
    </div>
  </div>

  <!-- Item 5 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading5">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse5"
        aria-expanded="false"
        aria-controls="collapse5">
        <i class="me-2 toggle-icon"></i>
        What are the time commitments to being an ambassador?
      </button>
    </h4>
    <div id="collapse5" class="accordion-collapse collapse"
      aria-labelledby="heading5"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>Apart from bi-weekly meetings in the evenings post-college hours, the ambassadors will be required to submit weekly reports every weekend</p>
      </div>
    </div>
  </div>

  <!-- Item 6 -->
  <div class="accordion-item">
    <h4 class="accordion-header" id="heading6">
      <button class="accordion-button collapsed custom-btn" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse6"
        aria-expanded="false"
        aria-controls="collapse6">
        <i class="me-2 toggle-icon"></i>
        Who can I contact if I have any questions regarding the CAP?
      </button>
    </h4>
    <div id="collapse6" class="accordion-collapse collapse"
      aria-labelledby="heading6"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        <p>You can contact us at students&commat;pcards.org . Please mention your inquiry in the subject line and your contact details.</p>
      </div>
    </div>
  </div>

</div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-yellow-apply">
      <div class="row">
        <div class="col-md-10 float-none">
          <div class="apply-now">
            <h3>Are you excited to Join <span>PCARDS Power Ambassador</span> Program? </h3>
            <div class="apply-btn">
              <a href="https://forms.gle/1azWSqnbccEH9JY47" target="_blank">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>